<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!-- Localization of a single robot; slam_toolbox only -->
<launch>
    <arg name="agentN" value="agent1" />
    <!-- Run SLAM Toolbox -->
    <node pkg="slam_toolbox" type="localization_slam_toolbox_node" name="slam_toolbox" output="screen">
        <rosparam command="load" file="$(find slam_toolbox)/config/robosar_localization.yaml" />
        <param name="odom_frame" type="string" value="$(arg agentN)/odom" />
        <param name="base_frame" type="string" value="$(arg agentN)/base_link" />
        <param name="scan_topic" type="string" value="/robosar_agent_bringup_node/$(arg agentN)/feedback/scan" />
    </node>
    <!-- Set maximum laser range -->
    <param name="/slam_toolbox/max_laser_range" type="double" value="4.0" />
</launch>
