<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
    <!-- Agent bringup -->
    <include file="$(find robosar_agent_bringup)/launch/robosar_agent_bringup_node.launch"/>
    <!-- Run SLAM Toolbox -->
    <node pkg="slam_toolbox" type="localization_slam_toolbox_node" name="slam_toolbox1" output="screen" ns="localization/agent1">
        <rosparam command="load" file="$(find slam_toolbox)/config/robosar_multilocalization_1.yaml" />
    </node>
    <node pkg="slam_toolbox" type="localization_slam_toolbox_node" name="slam_toolbox2" output="screen" ns="localization/agent2">
        <rosparam command="load" file="$(find slam_toolbox)/config/robosar_multilocalization_2.yaml" />
    </node>
    <!-- Set maximum laser range -->
    <param name="/localization/agent1/slam_toolbox1/max_laser_range" type="double" value="4.0" />
    <param name="/localization/agent2/slam_toolbox2/max_laser_range" type="double" value="4.0" />
    <!-- Launch RVIZ with provided configurations -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find slam_toolbox)/config/robosar_multilocalization_2.rviz" />
    <!-- Pathing -->
    <!-- <node name="hector_trajectory_server1" pkg="hector_trajectory_server" type="hector_trajectory_server" output="screen">
        <param name="target_frame_name" type="string" value="/map" />
        <param name="source_frame_name" type="string" value="agent1/base_link" />
        <param name="trajectory_update_rate" type="double" value="5" />
        <param name="trajectory_publish_rate" type="double" value="5" />
    </node> -->
    <!-- <node name="hector_trajectory_server2" pkg="hector_trajectory_server" type="hector_trajectory_server" output="screen">
        <param name="target_frame_name" type="string" value="/map" />
        <param name="source_frame_name" type="string" value="agent2/base_link" />
        <param name="trajectory_update_rate" type="double" value="5" />
        <param name="trajectory_publish_rate" type="double" value="5" />
    </node> -->
    <!-- Teleoperation -->
    <node name="teleop_twist_keyboard1" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
        <remap from="cmd_vel" to="/robosar_agent_bringup_launch/agent1/control"/>
    </node>
    <!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 agent1/odom agent2/odom 100" /> -->
</launch>
