<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!-- Localization of multiple agents, slam_toolbox only -->
<launch>
    <!-- Run SLAM Toolbox for each agent -->
    <include file="$(find slam_toolbox)/launch/robosar_multilocalization_agentN.launch">
        <arg name="agentN" value="agent1" />
    </include>
    <include file="$(find slam_toolbox)/launch/robosar_multilocalization_agentN.launch">
        <arg name="agentN" value="agent2" />
    </include>
    <!-- <include file="$(find slam_toolbox)/launch/robosar_multilocalization_agentN.launch">
        <arg name="agentN" value="agent3" />
    </include> -->
</launch>
