<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!-- Launch file for creating a map using SLAM -->
<launch>
    <arg name="agentN" value="agent1" />
    <!-- Agent bringup -->
    <!-- <include file="$(find robosar_agent_bringup)/launch/robosar_agent_bringup_node.launch"/> -->
    <!-- Run SLAM Toolbox for mapping -->
    <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox" output="screen">
        <rosparam command="load" file="$(find slam_toolbox)/config/robosar_mapping.yaml" />
    </node>
    <!-- Launch RVIZ with provided configurations -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find slam_toolbox)/config/robosar_testing.rviz" />
    <!-- Teleoperation -->
    <!-- <node name="teleop_twist_keyboard_$(arg agentN)" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
        <remap from="cmd_vel" to="/robosar_agent_bringup_node/$(arg agentN)/cmd_vel"/>
    </node> -->
</launch>
